/*Color Variables*/
$yellow_color : #B08615;
$gray_color : #444444;
$gray_color_2 : #222222;
$gray_color_3 : #4C4C4C;
$gray_color_4 : #3F3F3F;
$gray_color_5 : #DDDDDD;
$golden_btn_color : #af8625;
$gray_dropdown : #3F3F3F;
$gray_mid_color : #333333;
$gray_btn_color : $gray_mid_color;
$dark_gray_color : #222222;
$header_bg : $gray_mid_color;
$sidebar_bg : $dark_gray_color;
$social_bg : #EEEEEE;


/*  Light Theme Colors  */
$body_light_bg : #f2f2f2
