/* START :: Custom variable */
html , body  {
    overflow-x: hidden;
}
button , a , input[type="submit"] {
  outline: none !important;
  box-shadow: none !important;
  transition: all 0.3s; text-decoration: none;color: inherit;
}
img {max-width: 100%;}

$px70 : 3.875rem;
$px64 : 4rem;
$px60: 3.75rem;
$px48 : 3rem;
$px45 : 2.813rem;
$px42 : 2.688rem;
$px40 : 2.5rem;
$px36 : 2.25rem;
$px32 : 2rem;
$px30 : 1.875rem;
$px28 : 1.75rem;
$px27 : 1.688rem;
$px26 : 1.625rem;
$px24 : 1.5rem;
$px22 : 1.375rem;
$px21 : 1.313rem;
$px20 : 1.25rem;
$px19 : 1.188rem;
$px18 : 1.125rem;
$px17 : 1.063rem;
$px16 : 1rem;
$px15 : 0.938rem;
$px14 : 0.875rem;
$px13 : 0.813rem;
$px12 : 0.75rem;
$px11 : 0.688rem;
$px10 : 0.625rem;


$body-bg : #3f3f3f;
$body-color: #fff;
$primary: #3f3f3f;



$link-decoration: none;
$link-hover-color: #000;
$font-size-base: $px14;
$font-size-base-mob: $px14;
$font-weight-base: 400;
$container-padding-x: 15px !default;
$line-height-base: 1.7;


/*Bootstrap buttons variables*/
$btn-border-radius: 6px;
$btn-border-width:  1px;
$btn-link-color : #fff;
$btn-padding-y: 0;
$btn-font-family:$font_mark_medium;
$btn-font-weight:  500;
$btn-font-size: $px14 ;
$btn-box-shadow: none;


/*Bootstrap Heading variable*/
$h1-font-size:18px;
$h2-font-size:16px;
$h3-font-size:14px;
$h4-font-size:13px;
$h5-font-size:12px;
$h6-font-size:10px;



$headings-font-family: $font-family-sans-serif;
$headings-line-height: normal;
$headings-color: #fff;;
$headings-font-weight: 300;
$box-radius : 15px;

a:hover {
  color: $white;
}
.light-theme {
  a:hover {
    color: $black;
  }
}