@import 'menu';

.sidebar {
	background-color: $sidebar_bg;
	width: 250px;
	height: calc(100vh - 70px);
	position: fixed;
	top: 70px;
	z-index: 2;
	overflow: hidden;
	padding: 20px 0;
	transition: all .3s ease;
	h6{
		text-transform: uppercase;
		font-size: $px14;
		font-weight: 700;
		word-wrap: break-word;
		font-family: $font_markPro_bold;
		color: $social_bg;
	}	
}

.sidebarMin {
	.content-sec {
		padding-left: 60px;
	}
	.sidebar {
		width: 60px;
		min-width: inherit;
		.mega-jackpot {
			* {
				&:not(.dollar){
					font-size: 0;
				}
			}
		}
		.btn {
			
			span {

			}
		}
		.theme-btn .t_btn ,
		.btn ,
		.menu-list ul li a{
			font-size: 0;
		}
		.menu-list {
			h6{display: none}
			ul li {
				padding: 12px 5px;
				text-align: center;
				a {
					justify-content: center;
				}
				span{
					padding-right: 0;
				}
			}
		}
		.spin-win ,
		.cust-detail-center {
			padding: 0;
			a {
				&.btn{
					width: 40px !important;
					padding: 10px;
					margin: 0 auto 17px;
					display: block;
				}
			}
		}
		.spin-win {
			padding-top: 15px;
		}

		.theme-btn {
			border: 0;
		    border-radius: 0;
		    padding: 0;
		    background-color: transparent;
		    .btn-dark{
		    	display: none;
		    }
		    .t_btn {
		    	width: 40px !important;
		    	margin: 0 auto;
		    	height: 40px;
		    	border: 1px solid $gray_color_3;
	    	    background-color: transparent;
		    }
		}

	}

}

.light-theme{	

	.sidebar {
		background-color: #fff;

		.menu-list {
			ul {
				li{
					a{
						span{
							svg{
								path{
									fill: $gray_mid_color;
								}
							}
						}
					}
				}
			}
		}
	}

	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	    background-color: rgb(51 51 51 / 75%) !important
	}

	&.sidebarMin  {
		.theme-btn { 
			 .btn-dark {
				display: flex !important;
			}
			.btn-light {display: none}
		    .t_btn {	    	
		    	border-color:#F2F2F2
		    }

		}
	}
}

.mCSB_inside > .mCSB_container {
    margin-right: 0;
}

.sidebarMin {
	.sidebar {
		.spin-win a.btn .count {
		    right: -5px;
    		top: -5px;
    		position: absolute;
		}
		.spin-win .spin-btn {padding: 6px;}
		.spin-win span {margin: 0}
		.btn img {
			margin-right: 0;
		}
		.theme-btn .t_btn {
			grid-gap: 0;
			gap: 0;
		}
		.spin-win .spin-btn {
		    padding: 3px 4px !important;
		}
		.spin-win .btn.btn-gray {			
			padding-top: 9px;
			padding-bottom: 9px;		
		}
	}
}

@media screen and (max-width: 991px) {

	.sidebar {
		width: 100%;
		padding:0;
		height: auto;

		.sidebarIn{
			display: none;

		}

		.mobile-menu{

			.menu-list{
				margin: 0;
				overflow-x: scroll;
				width: 100%;

				ul{
					margin: 0;
					padding: 7px 0 6px 0px;
					justify-content: space-between;
					border-bottom: 1px solid rgba(238, 238, 238, 0.2);
					overflow: hidden;
					width: 990px;
				

					li{
						padding: 0 10px;
						border: none;

						a{
							flex-wrap: wrap;
							justify-content: center;
							flex-direction: column;
							font-size: 13px;
							font-weight: 400;

							span{
								display: block;
								padding: 0 0 10px 0;
							}
						}
					}

					li:nth-child(1){
						padding-left: 15px;
					}

					li:nth-last-child(1){
						padding-right: 15px;
					}
				}
			}

			.mega-jackpot{
				padding: 9px 0;
				display: flex;
				justify-content: center;
				align-items: center;
				grid-gap: 40px;

				span{
					font-size: 17px;
				}

			}
		}
	}

}

@media screen and (max-width: 767px) {
	.sidebar{
		top: 56px;

		.mobile-menu{
			.menu-list {
				ul{
					width:765px;

					li{
						padding: 0 5px;
					}
				}
			}
		}
	}

}

@media screen and (max-width: 521px) {
	.sidebar{
		.mobile-menu{
			.menu-list {
				ul{
					width:690px;
				}
			}
		}
	}

}