.btn {
	background-color: $golden_btn_color ;
	border-color: $golden_btn_color ;
	height: 42px;
	color: #fff;
	font-weight: 500;
	line-height: 38px;
	font-family: $font_mark_medium;
	text-transform: uppercase;
	padding: 0 20px;
	font-size: $px14;
	text-transform: uppercase;
	img{
		margin-right: 5px;
		max-width: 20px;
	}
	&:hover{
		border-color: $golden_btn_color ;
		background-color: transparent;
		color: $golden_btn_color;
	}

	&.btn-outline {
		height: 48px;
		color: $golden_btn_color ;
		line-height: 44px;
		background-color: transparent;
		&:hover{
			background-color: $golden_btn_color ;
			border-color: $golden_btn_color ;
			color: $white;
		}
	}

	&.btn-secondary{
		background-color: $gray_btn_color;
		border-color: $gray_btn_color;
		&:hover{
			background-color: transparent;
			border-color: $white ;
			color: $white ;
		}
	}

	&.btn-white-outline {
		color: $white ;
		border-color: $white;
		background-color: transparent;
		&:hover{
			background-color: #fff;
			border-color: $white;
			color: $header_bg ;
		}
	}

	&.btn-gray-outline {
		color: $white ;
		border-color: #4C4C4C;
		background-color: transparent;
		&:hover{
			background-color: #4C4C4C;
			border-color: #4C4C4C;
		}
	}

	&.w_250 {
		width: 250px;
	}	
	&.btn-gray {
		background-color: $gray_color_4;
		border-color: $gray_color_4;
	}
	&.btn-normal{
		text-transform: initial;
	}

}

.header {
	.btn {
		text-transform: initial;
		height: 40px;
		line-height: 36px;
	}
	.btn-transparent {
		background-color: transparent;
		border: none;
		&:hover {
			background-color: transparent;
			border: none;
			color: #fff;
		}
	}
	.btn{padding: 0 15px;}

	.header-btn{			
		.btn {
			padding: 0 20px;			
		}
		.btn-white-outline{
			padding: 0 10px;
		}
	}
}

.btn {
	svg {
		margin-right: 5px;
		max-width: 20px;
		path {
			fill : $white; 
		}
	}
	&:hover{
		svg {
			path {
				fill : $golden_btn_color; 
			}
		}
	}
}

/* Sidebar Theme Button */
.theme-btn {
	background-color: $gray_color_4;
	border-radius: 6px;
	margin-bottom: 15px;
	padding: 4px;
	.t_btn{
		font-weight: 400;
		font-family: $font-family-sans-serif;
		text-transform: initial;
		height: 34px;
		display: flex;
		align-items: center;
		justify-content: center;
		grid-gap: 5px;
		gap: 5px;
		border-radius: 6px;
	}
	.btn-light{
		background-color: $gray_color_4;
		border:0;
		cursor: pointer;
	}
	.btn-dark{
		background-color: #222222;
		cursor: initial
	}

}
.light-theme {
	
	.btn-dark{
		cursor: pointer;
		background-color: transparent;
	}
	.btn-light {
		cursor: initial;
		background-color: $white;
	}

	.btn{
		&.btn-gray {
			background-color: $body_light_bg;
			color: #333333;
		}
	}
	.theme-btn { 
		background-color: $body_light_bg;
		.t_btn {
			color: #333333;
		}
	}
}
