@import 'menu';

.sidebar {
	background-color: $sidebar_bg;
	min-width: 250px;
	height: 100vh;
	height: auto;
	max-width: 12%;
	position: fixed;
	z-index: 2;
	overflow: hidden;
	padding: 20px 0;
	h6{
		text-transform: uppercase;
		font-size: $px14;
		font-weight: 700;
		word-wrap: break-word;
		font-family: $font_markPro_bold;
		color: $social_bg;
	}
	.sidebarIn{
		padding-right: 20px;
	    padding-left: 20px;
	}
}

.light-theme{	
	.sidebar {
		background-color: #fff;
	}
	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	    background-color: rgb(51 51 51 / 75%) !important
	}
}

.mCSB_inside > .mCSB_container {
    margin-right: 0;
}