@import 'fontface'; 


/*Font Family variables*/
$font-family-sans-serif: 'Mark-Regular';
$font_mark_medium : 'Mark-Medium';
$font_markPro_bold : 'MarkPro-Bold';

$mark_black : 'Mark-Black';
$mark_light : 'Mark-Light';
$mark_regular : 'Mark-Regular';
$mark_heavy : 'Mark-Heavy';
$mark_bold : 'Mark-Bold';

$font_led_board : 'Bold LED Board-7';
$font_american_type : 'American Typewriter';
$font_led_calc : 'LED Calculator';


