@import 'bs5/bootstrap';
@import 'font';	
@import 'customvariable';
@import 'colors';
@import 'cust_buttons';
@import 'header';	
@import 'mCustomScrollbar';	
@import 'sidebar';
@import 'hero';	
@import 'main';	
@import 'heading';
@import 'card';	
@import 'owl-carousel';	
@import 'carousel';	
@import 'pamentMode';	
@import 'table';
@import 'tab';	
@import 'dropdown';	
@import 'fancybox';
@import 'socialicons';
@import 'footer'; 