
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-GameCare:before {
  content: "\e92a";
  color: #fff;
}
.icon-GamblingCommission:before {
  content: "\e92b";
  color: #fff;
}
.icon-GambleAware:before {
  content: "\e92c";
  color: #fff;
}
.icon-evolution:before {
  content: "\e92d";
  color: #fff;
}
.icon-ethereum .path1:before {
  content: "\e92e";
  color: rgb(238, 238, 238);
}
.icon-ethereum .path2:before {
  content: "\e92f";
  margin-left: -5.451171875em;
  color: rgb(238, 238, 238);
}
.icon-ethereum .path3:before {
  content: "\e930";
  margin-left: -5.451171875em;
  color: rgb(238, 238, 238);
}
.icon-ethereum .path4:before {
  content: "\e931";
  margin-left: -5.451171875em;
  color: rgb(238, 238, 238);
}
.icon-ethereum .path5:before {
  content: "\e932";
  margin-left: -5.451171875em;
  color: rgb(238, 238, 238);
}
.icon-ethereum .path6:before {
  content: "\e933";
  margin-left: -5.451171875em;
  color: rgb(238, 238, 238);
}
.icon-ethereum .path7:before {
  content: "\e934";
  margin-left: -5.451171875em;
  color: rgb(238, 238, 238);
}
.icon-ethereum .path8:before {
  content: "\e935";
  margin-left: -5.451171875em;
  color: rgb(238, 238, 238);
}
.icon-ethereum .path9:before {
  content: "\e936";
  margin-left: -5.451171875em;
  color: rgb(238, 238, 238);
  opacity: 0.6;
}
.icon-ethereum .path10:before {
  content: "\e937";
  margin-left: -5.451171875em;
  color: rgb(238, 238, 238);
  opacity: 0.8;
}
.icon-ethereum .path11:before {
  content: "\e938";
  margin-left: -5.451171875em;
  color: rgb(238, 238, 238);
  opacity: 0.8;
}
.icon-ethereum .path12:before {
  content: "\e939";
  margin-left: -5.451171875em;
  color: rgb(238, 238, 238);
  opacity: 0.8;
}
.icon-bitcoin:before {
  content: "\e93a";
  color: #fff;
}
.icon-avax:before {
  content: "\e93b";
  color: #fff;
}
.icon-livecasino:before {
  content: "\e93c";
  color: #fff;
}
.icon-microgaming:before {
  content: "\e93d";
  color: #fff;
}
.icon-pragmatic-play:before {
  content: "\e93e";
  color: #fff;
}
.icon-playson:before {
  content: "\e93f";
  color: #fff;
}
.icon-popular:before {
  content: "\e940";
  color: #fff;
}
.icon-ResponsibleGambling:before {
  content: "\e941";
  color: #fff;
}
.icon-Ripple:before {
  content: "\e942";
  color: #fff;
}
.icon-Tether:before {
  content: "\e943";
  color: #fff;
}
.icon-tron:before {
  content: "\e944";
  color: #fff;
}
.icon-favorites:before {
  content: "\e900";
  color: #fff;
}
.icon-affiliate:before {
  content: "\e901";
  color: #fff;
}
.icon-aviator:before {
  content: "\e902";
  color: #fff;
}
.icon-dark:before {
  content: "\e903";
  color: #fff;
}
.icon-help:before {
  content: "\e904";
  color: #fff;
}
.icon-horseracing:before {
  content: "\e905";
  color: #fff;
}
.icon-language-icon .path1:before {
  content: "\e906";
  color: rgb(1, 33, 105);
}
.icon-language-icon .path2:before {
  content: "\e907";
  margin-left: -1.0556640625em;
  color: rgb(238, 238, 238);
}
.icon-language-icon .path3:before {
  content: "\e908";
  margin-left: -1.0556640625em;
  color: rgb(200, 16, 46);
}
.icon-language-icon .path4:before {
  content: "\e909";
  margin-left: -1.0556640625em;
  color: rgb(238, 238, 238);
}
.icon-language-icon .path5:before {
  content: "\e90a";
  margin-left: -1.0556640625em;
  color: rgb(200, 16, 46);
}
.icon-light:before {
  content: "\e90b";
  color: #fff;
}
.icon-phonecall:before {
  content: "\e90c";
  color: #fff;
}
.icon-spaceman:before {
  content: "\e90d";
  color: #fff;
}
.icon-spin .path1:before {
  content: "\e90e";
  color: rgb(51, 51, 51);
}
.icon-spin .path2:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(230, 233, 238);
}
.icon-spin .path3:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(230, 233, 238);
}
.icon-spin .path4:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(230, 233, 238);
}
.icon-spin .path5:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(230, 233, 238);
}
.icon-spin .path6:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(176, 134, 21);
}
.icon-spin .path7:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(176, 134, 21);
}
.icon-spin .path8:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(176, 134, 21);
}
.icon-spin .path9:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(176, 134, 21);
}
.icon-spin .path10:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(68, 68, 68);
}
.icon-spin .path11:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.1;
}
.icon-spin .path12:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(93, 91, 104);
}
.icon-spin .path13:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.1;
}
.icon-spin .path14:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(170, 178, 189);
}
.icon-spin .path15:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-spin .path16:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-spin .path17:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-spin .path18:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-spin .path19:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-spin .path20:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-spin .path21:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-spin .path22:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.1;
}
.icon-tournament:before {
  content: "\e924";
  color: #fff;
}
.icon-turbogames:before {
  content: "\e925";
  color: #fff;
}
.icon-vip:before {
  content: "\e926";
  color: #fff;
}
.icon-virtualgame:before {
  content: "\e927";
  color: #fff;
}
.icon-weekly:before {
  content: "\e928";
  color: #fff;
}
.icon-zeppelin:before {
  content: "\e929";
  color: #fff;
}
